body{
	padding:0;
	margin:0;
	background-color:#000000;
}

/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header ul{
	margin:0;
	padding:0;
}


/* Header */
header{
	background:#000;
	padding-top:5px;
	padding-bottom:5px;
	min-height:70px;
	border-bottom:#51B84D 3px solid;
}

header a{
	color:#51B84D;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px; 
}

header li{
	font:15px Arial Black;
	display:inline;
	padding:0 30px 0 50px;
}

header nav{
	text-align:center;
	margin-top:-5px;
}

header a:hover{
	color:#fff;
	font-weight:bold;
}

.socialmedia{
	float:right;
	padding:5px 5px 0px 5px;
	margin-top:5px;
}


.band-logo{
	min-height:70px;
	padding-top:0; 
	padding-left:145px;
	margin-top:-45px;
	margin-bottom:-25px;
}

/* social media */


/* Showcase */
#showcase{
	min-height:400px;
	background:url('../images/bandpic1.jpg') no-repeat center;
	padding-top:250px;
	min-height:200px;
	background-size:100%;
	border-bottom:#51B84D 3px solid;
}

/* Video */

.video1{
	padding-top:50px;
	padding-bottom:50px;
	padding-left:25px;
	float:left;
}

.video2{
	padding-top:50px;
	padding-bottom:50px;
	padding-right:25px;
	float:right;
}

.album{
	font:30px/1.5 Arial Black;
	color:#fff;
	text-align:center;
	float:bottom;
	border-bottom:#51B84D 3px groove;
}

/* New Album */
#new-album{
	display:block;
	margin:0 auto;
	width:580px;
	height:540px;
}


#link{
	display:block;
	margin:auto;
	width:580px;
	height:540px;
}

/* Footer */
footer{
	font:10px Arial Black;
	padding:5px;
	margin-top:70px;
	color:#fff;
	text-align:center; 
}
















